{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'users/W3.CSS Template_files/w3.css' %}">
<link rel="stylesheet" href="{% static 'users/W3.CSS Template_files/css' %}">
<link rel="stylesheet" href="{% static 'users/W3.CSS Template_files/font-awesome.min.css'%}">
<link rel="stylesheet" href="{% static 'users/W3.CSS Template_files/button.css'%}">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<link id="avast_os_ext_custom_font" href="chrome-extension://eofcbnmajmjmplflapaojjnihcjkigck/common/ui/fonts/fonts.css" rel="stylesheet" type="text/css"><body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding" style="margin-top: 50px">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{ object.image.url }}" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>{{ object.username }}</h2>
          </div>
        </div>
 <div class="w3-container">
            <br>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ object.user.first_name }} {{ object.user.last_name }}</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Office: Warri, NG</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: {{ object.user.email }}</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>State Of Origin: {{ object.state }}</p>
          <p><i class="fa fa-male fa-fw w3-margin-right w3-large w3-text-teal"></i>Staff Positon: {{ object.staff }}</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone No: {{ object.phone }}</p>          
          <p><i class="fa fa-female fa-fw w3-margin-right w3-large w3-text-teal"></i>Marrital Status: {{ object.marrital_status }}</p>                 
          <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
            {% if object.python %}
          <p>PYTHON</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{ object.python }}%">{{object.python}}%</div>
          </div>
                <p></p>
            {% endif %}
            {% if object.php %}
          <p>PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{ object.php }}%">
              <div class="w3-center w3-text-white">{{object.php}}%</div>
            </div>
          </div>
                <p></p>
            {% endif %}
         {% if object.html_css %}
          <p>HTML/CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{ object.html_css }}%">{{ object.html_css }}%</div>
          </div>
             <p></p>
            {% endif %}
            {% if object.javascript %}
          <p>JAVASCRIPT</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{ object.javascript }}%">{{ object.javascript }}%</div>
          </div>
                <p></p>
            {% endif %}
              {% if object.wordpress %}
          <p>WORDPRESS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{ object.wordpress }}%">{{ object.wordpress }}%</div>
          </div>
                  <p></p>
            {% endif %}
            {% if object.csharp %}
             <p>C#</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{ object.csharp }}%">{{ object.csharp }}%</div>
          </div>
                <p></p>
            {% endif %}
                <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Bio</h2>
        <div class="w3-container">

            <h6 style="color: #0056b3; text-shadow: 2px 3px 2px #ccc; color: #666" ><font style="font-size: 25px"> &quot;</font> {{ profile.bio }}<font style="font-size: 25px"> &quot;</font></h6>

          <hr>
        </div>
      </div>
      
          <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-home fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Home Address</h2>
        <div class="w3-container">

            <h6 style="color: #0056b3; text-shadow: 1px 1px 1px #ccc; color: #666" ><font style="font-size: 25px"> &quot;</font> {{ profile.address }}<font style="font-size: 25px"> &quot;</font></h6>

          <hr>
        </div>

      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
     
        <div class="w3-container">
          <h5 class="w3-opacity"><b>{{ object.highereducation.school }}</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ object.highereducation.from_date }} - {{ object.highereducation.to_date }}</h6>
          <p>{{ object.highereducation.degree }}</p>
          <hr>
          
                   <br>

            <a href="{% url 'edit_profile' %}"><button class="button" style="vertical-align:middle" ><span>Edit Profile</span></button></a>
            <p></p>
            
        </div>
      
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>


{% endblock content %}
