#login{
    border-radius: 30px;
    border: 2px solid #73AD21;
    position: relative; 
    margin: auto; 
    width: 500px; 
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px; 
    padding: 20px;
    background: #efedf5;
    box-shadow: 0px 0px 15px 0px #eee
}
#login input{
    height: 50px;
}


@media only screen and (min-width: 240px) and (max-width:320px)
                       ,
                       (min-width: 320px) and (max-width:480px)
                       ,
                       (min-width: 480px) and (max-width:768px)
{
    #login{
        width: 100%;
    }
    #login button{
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }
}