{% extends 'app/base.html' %}
{% load static %}
{% block content %}


	<!-- Start main body Area -->
    <h2 class="text-center" style="color: #0c5460">{{ category.name }} Events</h2>
	<div class="main-body section-gap">
		<div class="container box_1170">
			<div class="row">
				<div class="col-lg-12 post-list">
					<!-- Start Post Area -->
					<section class="post-area">
						<div class="row">{% for events in event %}
                            {% if events.end_date > today %}
                            {% if events.approved == True %}
							<div class="col-lg-4 col-md-6">

								<div class="single-post-item">
									<div class="post-thumb">{% if events.flyer %}
										<img class="img-fluid" src="{{ events.flyer.url }}" alt="">
                                        {% endif %}
									</div>
									<div class="post-details">
										<h4><a href="{% url 'app:event_detail' events.slug %}">{{ events.title }}</a></h4>
										<p>{{ events.description|truncatechars:40 }}</p>
										<div class="blog-meta">
											<a href="#" class="m-gap">{% if events.start_date %}<span class="lnr lnr-calendar-full"></span>{{ events.start_date }}{% endif %}</a>
											<a href="#" class="m-gap">{% if events.end_date %}<span class="lnr lnr-calendar-full"></span>{{ events.end_date }}{% endif %}</a>
                                            <a href="#">{{ events.category }}</a>
										</div>
									</div>
								</div>
							</div>
                            {% endif %}
                            {% endif %}
                        {% endfor %}



							<div class="col-lg-12">
								<nav class="blog-pagination justify-content-center d-flex">
									<ul class="pagination">
										                            {% if users.has_other_pages %}

      {% if users.has_previous %}
        <a class="btn btn-outline-info mb-3" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-3" href="?page={{ users.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in users.paginator.page_range %}
        {% if users.number == num %}
          <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > users.number|add:'-3' and num < users.number|add:'3' %}
          <a class="btn btn-outline-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if users.has_next %}
        <a class="btn btn-outline-info mb-3" href="?page={{ users.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-3" href="?page={{ users.paginator.num_pages }}">Last</a>
      {% endif %}
        {% endif %}



									</ul>
								</nav>
							</div>
						</div>
					</section>
					<!-- Start Post Area -->
				</div>

				</div>
            </div>
            </div>
{% endblock content %}